[MASTER]
# Указываем максимальную длину строки, например, 120 символов
max-line-length=120
ignore=tests,ML/old_staff,ML/light_version,new_train.py,preprocess_drift_exit.py
ignore-patterns=tests/.*,.*Hardware\ integration\ layer.*,.*old_staff.*,.*light_version.*

[MESSAGES CONTROL]
# Игнорируем некоторые предупреждения
disable=C0301, C0111  # например, игнорировать предупреждения о длине строки и отсутствии комментариев

[REPORTS]
# Отключаем отчёты
output-format=text
