[MASTER]
# Указываем максимальную длину строки, например, 120 символов
max-line-length=120

[MESSAGES CONTROL]
# Игнорируем некоторые предупреждения
disable=C0301, C0111  # например, игнорировать предупреждения о длине строки и отсутствии комментариев

[REPORTS]
# Отключаем отчёты
output-format=text
